@import "tailwindcss";

@theme {
  --color-bg-secondary: #c8c4c4;

  --animate-infinte-scroll: infinite-scroll 10s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-25% - 20px));
    }
  }
}

body {
  width: 100%;
  font-size: larger;
  background-color: #d3d3d3;
}

.padding-def {
  @apply min-[2000px]:px-[600px] 2xl:px-[300px] px-[50px];
}

.padding-def-y {
  @apply 2xl:py-[100px] py-[50px];
}

.text-judul {
  @apply md:text-4xl text-[24px];
}
.text-isi {
  @apply md:text-[18px] text-[16px];
}

.text-subjudul {
  @apply md:text-2xl text-[20px];
}
